results

In [20]:
import pandas as pd

In [21]:
results = {
    'all':pd.read_csv("../../data/results/002-003-all_features_cx_cindex.csv"),
    'pvalue':pd.read_csv("../../data/results/002-004-pvalue_features_cx_cindex.csv"),
    'corr':pd.read_csv("../../data/results/002-004-corr_features_cx_cindex.csv"),
    'p_corr':pd.read_csv("../../data/results/002-004-p_corr_features_cx_cindex.csv"),
    'rf':pd.read_csv("../../data/results/002-004-rf_features_cx_cindex.csv"),
}

In [23]:
for exp, result in results.items():
    print(f"{exp}:")
    display(result)
    display(result.describe())
    display(result.describe().T['mean'].mean())
    print("="*10)

all:

     coxnet        rf        gb     fksvm
0  0.509740  0.620130  0.545455  0.525974
1  0.622905  0.592179  0.550279  0.571229
2  0.589928  0.402878  0.500000  0.348921
3  0.619289  0.563452  0.467005  0.705584
4  0.570423  0.457746  0.387324  0.605634

         coxnet        rf        gb     fksvm
count  5.000000  5.000000  5.000000  5.000000
mean   0.582457  0.527277  0.490013  0.551468
std    0.046046  0.092807  0.066858  0.131102
min    0.509740  0.402878  0.387324  0.348921
25%    0.570423  0.457746  0.467005  0.525974
50%    0.589928  0.563452  0.500000  0.571229
75%    0.619289  0.592179  0.545455  0.605634
max    0.622905  0.620130  0.550279  0.705584

0.5378037104288323

==========
pvalue:

     coxnet        rf        gb     fksvm
0  0.574675  0.525974  0.558442  0.545455
1  0.603352  0.567039  0.617318  0.590782
2  0.438849  0.586331  0.446043  0.379496
3  0.817259  0.563452  0.568528  0.736041
4  0.584507  0.419014  0.492958  0.454225

         coxnet        rf        gb     fksvm
count  5.000000  5.000000  5.000000  5.000000
mean   0.603728  0.532362  0.536658  0.541200
std    0.136009  0.067027  0.067300  0.136154
min    0.438849  0.419014  0.446043  0.379496
25%    0.574675  0.525974  0.492958  0.454225
50%    0.584507  0.563452  0.558442  0.545455
75%    0.603352  0.567039  0.568528  0.590782
max    0.817259  0.586331  0.617318  0.736041

0.5534869956143494

==========
corr:

     coxnet        rf        gb     fksvm
0  0.545455  0.525974  0.503247  0.568182
1  0.564246  0.547486  0.572626  0.613128
2  0.593525  0.589928  0.615108  0.586331
3  0.598985  0.659898  0.502538  0.720812
4  0.510563  0.500000  0.404930  0.489437

         coxnet        rf        gb     fksvm
count  5.000000  5.000000  5.000000  5.000000
mean   0.562555  0.564657  0.519690  0.595578
std    0.036348  0.062613  0.080064  0.083806
min    0.510563  0.500000  0.404930  0.489437
25%    0.545455  0.525974  0.502538  0.568182
50%    0.564246  0.547486  0.503247  0.586331
75%    0.593525  0.589928  0.572626  0.613128
max    0.598985  0.659898  0.615108  0.720812

0.5606199171355246

==========
p_corr:

     coxnet        rf        gb     fksvm
0  0.525974  0.490260  0.477273  0.555195
1  0.614525  0.597765  0.558659  0.615922
2  0.485612  0.517986  0.399281  0.402878
3  0.614213  0.583756  0.451777  0.664975
4  0.549296  0.433099  0.496479  0.489437

         coxnet        rf        gb     fksvm
count  5.000000  5.000000  5.000000  5.000000
mean   0.557924  0.524573  0.476694  0.545681
std    0.056339  0.067912  0.058574  0.103455
min    0.485612  0.433099  0.399281  0.402878
25%    0.525974  0.490260  0.451777  0.489437
50%    0.549296  0.517986  0.477273  0.555195
75%    0.614213  0.583756  0.496479  0.615922
max    0.614525  0.597765  0.558659  0.664975

0.5262179437051155

==========
rf:

     coxnet        rf        gb     fksvm
0  0.493506  0.584416  0.600649  0.503247
1  0.583799  0.614525  0.608939  0.572626
2  0.532374  0.507194  0.586331  0.395683
3  0.715736  0.558376  0.568528  0.685279
4  0.549296  0.521127  0.514085  0.545775

         coxnet        rf        gb     fksvm
count  5.000000  5.000000  5.000000  5.000000
mean   0.574942  0.557127  0.575706  0.540522
std    0.085151  0.044244  0.037710  0.105333
min    0.493506  0.507194  0.514085  0.395683
25%    0.532374  0.521127  0.568528  0.503247
50%    0.549296  0.558376  0.586331  0.545775
75%    0.583799  0.584416  0.600649  0.572626
max    0.715736  0.614525  0.608939  0.685279

0.5620744827827144

==========

rf > corr > pvalue > all > p_corr

In [25]:
features = {
    'pvalue': list(pd.read_csv("../../data/selected_features/p-value-recur-related-train.csv").columns),
    'corr': list(pd.read_csv("../../data/selected_features/corr-recur-related-train.csv").columns),
    'rf': list(pd.read_csv("../../data/selected_features/rf-recur-related-train.csv").columns)
}

In [28]:
for name, feature in features.items():
    print(f"{name}: {len(feature)}")

pvalue: 5470
corr: 4063
rf: 2001

In [26]:
result_all = set(features['pvalue']) & set(features['corr']) & set(features['rf'])
len(result_all)

340

In [27]:
result_corr_rf = set(features['corr']) & set(features['rf'])
len(result_corr_rf)

422

In [29]:
result_corr_pvalue = set(features['corr']) & set(features['pvalue'])
len(result_corr_pvalue)

2884

In [30]:
result_pvalue_rf = set(features['pvalue']) & set(features['rf'])
len(result_pvalue_rf)

646

可以從特徵交集了解：
- p-value, correlation 特徵交集比較多
- rf 特徵組與另外兩個特徵組分布不同很多